<div class="container">
  <h2>  Teacher Classes  </h2>
  <form #data="ngForm" (ngSubmit)="onSubmit(data.value)" >

  <label>Class </label>
<br>
  <select name="Class"  [(ngModel)]="cl" >


      <option *ngFor="let classes of class"   [value]="classes.classes.classname" >
          {{classes.classes.classname}}
      </option>
  </select >
<br>  <br>
  <label>Section</label>
<br>
<select  name="Section" [(ngModel)]="sec">


      <option *ngFor="let sections of section" [selected]="sections.value==sections" [value]="sections">
          {{sections}}
      </option></select>


      <br>
  <br>
  <label>Subject</label>

  <br>

 <select  name="Subject"  [(ngModel)]="sub">


            <option *ngFor="let sections of subjects" [value]="sections">
                {{sections}}
            </option>
            </select>


            <br>
            <br>



<input class="button4" type="submit" value="update" >

 </form>
</div>
