.tea{

  padding-left:250px;

  margin-left:150px;
  font-size:25px;
  font-weight: bold;

}
h2{
  font-size: 25px;
  text-align: center;
padding-right:  200px;
font-weight: bold;
font-style: oblique;
}
select {
    width: 200px;
    height: 30px;
    left:200;
}
select:focus {
    min-width: 200px;
    width: auto;
}

.container {
  background-color: white;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width:auto;
  font-size: 25px;
}

.h{
   font-size:48px;
color:  #4CAF50;
  font-weight: bold;
  margin-top:50px;position: inherit;
}
#main {
    width: 700px;
    height: 300px;
    border: 5px solid #c3c3c3;


}
#class{
padding-top:20px;
  margin-left:20px;
  font-size: 35px;
}
.class3
{
  margin-left:50px;

}
.class2{
  margin-left:50px;
  width : 140px !important;

}

.class1  {

   width : 140px !important;

  margin-left:80px;
}

.button4 {
    background-color:#4CAF50 ;
    color: White;
    border: 2px solid #4CAF50;
    width: 20%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    position:relative;
    left:250px;
    padding: 12px 32px;

}

.button4:hover {
    background-color:white ;
    color: #4CAF50;
}
