

.h{
   font-size:48px;
color: 	#19B8D7;
  font-weight: bold;
  margin-top:20px;
  text-align: center;
}



/*
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */


@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:white;

}

h1 {
  font-size:3em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #f5f5f5;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #fff;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #fff;
}

.container th {
	  background-color: #1F2739;
    color: #FFFFFF;

}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #ddd;
-webkit-box-shadow: 0 6px 6px -6px #26b3b3;
	   -moz-box-shadow: 0 6px 6px -6px #afeeee;
	        box-shadow: 0 6px 6px -6px #afeeee;
}

.container td:hover {
  background-color: #afeeee;
  color: #403E10;
  font-weight: bold;

  box-shadow: #26b3b3 -1px 1px, #26b3b3 -2px 2px, #26b3b3 -3px 3px, #26b3b3 -4px 4px, #26b3b3 -5px 5px, #26b3b3 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

    .button {

    background-color: #4CAF50;
    border: none;
    font-size: 25px;
    color: #FFFFFF;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
      border-radius: 15px;

}


.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.cus{
padding-left:200px;

margin-left:150px;
margin-top: 100px;


}
#edit{
color:green;
  }
  .total{
   padding-right: 150px;
    font-size: 28px;
  }
