
















<div class="container">
  <div class="login-container-wrapper clearfix">
    <div class="logo">
      <i class="fa fa-sign-in"></i>
    </div>
    <div class="welcome"><strong>Welcome,</strong> please login</div>

    <form  #f = "ngForm" (ngSubmit) = "onClickSubmit(f.value)" class="form-horizontal login-form">
      <div class="form-group relative">
        <input id="login_username" name="Id" id="name" class="form-control input-lg" type="email" placeholder="Username" required ngModel>
        <i class="fa fa-user"></i>
      </div>
      <div class="form-group relative password">
        <input id="login_password" class="form-control input-lg" name="Password" id="pass" type="password" placeholder="Password" required ngModel>
        <i class="fa fa-lock"></i>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
      </div>
      <div class="checkbox pull-left">
        <label><input type="checkbox"> Remember</label>
      </div>
      <div class="checkbox pull-right">
        <label> <a class="forget" href="" title="forget">Forgot your password</a> </label>
      </div>
    </form>
  </div>
















<!--<div class="materialContainer">


   <div class="box">
<form #f = "ngForm" (ngSubmit) = "onClickSubmit(f.value)" >
      <div class="title">LOGIN</div>
      <div class="input">
         <label for="name">Username</label>
         <input type="text" name="Id" id="name" ngModel>
         <span class="spin"></span>
      </div>

      <div class="input">
         <label for="pass">Password</label>
         <input type="password" name="Password" id="pass" ngModel>
         <span class="spin"></span>
      </div>

      <div class="button login"  >
         <button><span  >GO</span> <i class="fa fa-check"></i></button>
      </div>
  </form>
      <a href="" class="pass-forgot">Forgot your password?</a>

   </div>



   </div>
 -->
