
<div class="screen">
  <header><img src="https://imageshack.com/a/img922/7772/rJQQjB.png" width="1px" height="5px" alt="Icon representing a person"/></header>
<form #f = "ngForm" (ngSubmit) = "onSubmit(f.value)"  >
  <div id="login_page">


  <h2>  Welcome {{user.P_Name}}..! </h2>
  <h4> Set your password..!</h4>

<h5>
  Student Id: {{user.stid}} <br>
  Student Name: {{user.name}}<br>

Parent Name: {{user.P_Name}}<br><br>
</h5>
<div class="form_row"><i class="material-icons">lock_outline</i>

<input type="password" name="New_Password" placeholder="Password" ngModel><br><br>
</div>
  <div class="form_row"><i class="material-icons">lock_outline</i>
<input type="password" name="Confirm_Password"  placeholder="Change Password"  ngModel><br><br>
</div>
<button class="btn" type="submit"name="submit"  >Submit</button>
</div>

</form>
</div>
