<div class="container">

<h1>Assignments </h1>
<br>
<br>
<form class="form-horizontal"  #Data = "ngForm" (ngSubmit) = "onSubmit(Data.value)">
  <div class="row">
    <div class="col-50">

      <div class=" col-md-offset-1 col-sm-offset-1">

<label _ngcontent-c3="">CLASS:</label>

  <select (change)="fetchsection($event.target.value)" name="Class" id="class" ngModel="classes" >
      <option value="0">CLASSES</option>
      <option *ngFor="let cla of student" value={{cla}}>
          {{cla}}
      </option>
  </select>
  <br>
  <br>






  <label _ngcontent-c3="" for="subject">SUBJECTS:</label>
  <select  (change)="fetchsubject($event.target.value)" name="Subjects" ngModel="subjects" id="subject">
      <option value="0">SUBJECTS</option>
      <option *ngFor="let Sub of subject" value={{Sub}} >
          {{Sub}}
      </option>
  </select>
  <br>
  <br>
  <label>description:</label>
  <textarea ng-model="myTextarea"  name="des" id="description" ngModel></textarea>
</div>
</div>
  <div class="col-50">

    <div class=" col-md-offset-1 col-sm-offset-1">
      <label _ngcontent-c3="">SECTION:</label>
      <select (change)="fetchsubject($event.target.value)" name="Section" id="section" ngModel="sections">
          <option value="0">SECTIONS</option>
          <option *ngFor="let sec of section" value={{sec}} >
              {{sec}}
          </option>
      </select>


<br>
<br>
<label _ngcontent-c3="">Title:</label>
<input  type="text"  name="t1" id="title" ngModel>



      <div >
          <label _ngcontent-c3="" for="filePicker">Choose a file:</label><br>
          <input type="file" id="filePicker" (change)="handleFileSelect($event)" name="file"  accept="image/jpeg" ngModel>
      </div>
      <br>


    </div>

    <br>
    <br>
    <br>
    <br>
</div>
</div>

    <div clas='col-75'>
      <button type="button" type="submit" value="submit" class="button1">Submit</button>


    </div>

</form>
</div>
