select {
        width: 150px;
        margin: 20px;
        height: 40px;
    }
    select:focus {
        min-width: 150px;
        width: auto;
    }
#customers {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

#customers td, #customers th {
   border: 1px solid #ddd;
   padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color:#f29c12;
   color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
.button1 {
    background-color:#4CAF50 ;
    color: White;
    border: 2px solid #4CAF50;
    width: 20%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    position:relative;

    padding: 5px 10px;

}

.button1:hover {
    background-color:white ;
    color: #4CAF50;
}
