<h1>Attendance </h1>

<form #f = "ngForm" (ngSubmit) = "onClickSubmit(f.value)" >

Class:
<select (change)="fetchClass($event.target.value)" id="class">
<option value=0>Class<option>
  <option *ngFor ="let c of Class" value="{{c}}">
    {{c}}
  </option>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button1"(click)="percentage()"   [routerLink]="['/teacherdashboard/percentage']">percentage</button>

</form>



<form id = "formNewProduct" name = "formNewProduct" #ProdutData = "ngForm" (ngSubmit) = "onSubmit(ProdutData.value)">


  <div class="grid-container">
<div *ngFor ="let st of stu" >




      <div> <img src="../assets/img2">
        <h1>{{st.stid}}</h1><br>
        <h2>{{st.name}}</h2>



<label>
 <input type="checkbox" value="Present" name="attendance" id="check"   (change)=onSub($event,st.stid) checked >
Present</label>&nbsp;

      </div>





</div>
</div>


<form>
