<h1>Admin Registartions </h1>
<div class="row">
  <div class="col-75">
    <div class="one">
      <div class="container">
<form class="form-horizontal" [formGroup]="form">

  <div class="row">
    <div class="col-50">
      <div class=" col-md-offset-3">

&nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <h2>Admin Details</h2>

  <div class="form-group" [ngClass]="displayFieldCss('name')">
    <div class="col-sm-4">
      <label for="name" class="control-label required">Full Name</label>
    <input type="text" id="name" class="form-control" formControlName="name">
      <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Please inform Full Name">
      </app-field-error-display>
    </div>
  </div>

  <div class="form-group" [ngClass]="displayFieldCss('email')">
    <div class="col-sm-4">
      <label for="email" class="control-label required">Email</label>
    <input type="text" id="email" class="form-control" formControlName="email">
      <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Please inform Email">
      </app-field-error-display>
    </div>
  </div>


  <div class="form-group" [ngClass]="displayFieldCss('address')">
    <div class="col-sm-4">
      <label for="address" class="control-label required">Address</label>
    <input type="text" id="address" class="form-control" formControlName="address">
      <app-field-error-display [displayError]="isFieldValid('address')" errorMsg="Please inform Email">
      </app-field-error-display>
    </div>
  </div>


    <div class="form-group" [ngClass]="displayFieldCss('city')">
      <div class="col-sm-4">
        <label for="city" class="control-label required">City</label>
      <input type="text" id="city" class="form-control" formControlName="city">
        <app-field-error-display [displayError]="isFieldValid('city')" errorMsg="Please inform Email">
        </app-field-error-display>
      </div>
    </div>
</div>
  </div>

  <div class="col-50">
  &nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <h2>School Details</h2>



      <div class="form-group" [ngClass]="displayFieldCss('schoolname')">
        <div class="col-sm-4">
           <label for="schoolname" class="control-label required">School Name</label>
           <input type="text" id="schoolname" class="form-control" formControlName="schoolname">
           <app-field-error-display [displayError]="isFieldValid('schoolname')" errorMsg="Please inform School Name">
           </app-field-error-display>
         </div>

       </div>


         <div class="form-group" [ngClass]="displayFieldCss('schooladdress')">
       <div class="col-sm-4">
               <label for="schooladdress" class="control-label required">School Address 1</label>
               <input type="text" id="schooladdress" class="form-control" formControlName="schooladdress">
               <app-field-error-display [displayError]="isFieldValid('schooladdress')" errorMsg="Please inform School Address">
               </app-field-error-display>
             </div>

                    </div>



                             <div class="form-group" [ngClass]="displayFieldCss('newschooladdress')">
                           <div class="col-sm-4">
                                   <label for="newschooladdress" class="control-label required">School Address 2</label>
                                   <input type="text" id="newschooladdress" class="form-control" formControlName="newschooladdress">
                                   <app-field-error-display [displayError]="isFieldValid('newschooladdress')" errorMsg="Please inform School new Address">
                                   </app-field-error-display>
                                 </div>

                                        </div>







                                  <div class="form-group" [ngClass]="displayFieldCss('state')">
                                <div class="col-sm-4">
                                <label for="state" class="control-label required">State</label>
                               <input type="text" id="state" class="form-control" formControlName="state">
                              <app-field-error-display [displayError]="isFieldValid('state')" errorMsg="Please inform State">
                                </app-field-error-display>
                              </div>

                           </div>




<!--
                        <div class="form-group" [ngClass]="displayFieldCss('zip')">
                        <div class="col-sm-4">
                     <label for="zip" class="control-label required">Zip</label>
                    <input type="text" id="zip" class="form-control" formControlName="zip">
                  <app-field-error-display [displayError]="isFieldValid('zip')" errorMsg="Please inform ZipCode">
                  </app-field-error-display>
                </div>
              </div>
            -->






</div>
</div>


  <button class="btn-green" (click)="onSubmit()" >Submit</button>
  <button class="btn-red" (click)="reset()">Reset</button>


</form>
</div >
</div >
  </div>
    </div >
