



<div class="screen">
  <header><img src="https://imageshack.com/a/img922/7772/rJQQjB.png" width="1px" height="5px" alt="Icon representing a person"/></header>
<form #f = "ngForm" (ngSubmit) = "onSubmit(f.value)"  >
  <div id="login_page">


    <h2>
    Welcome {{u[0].First_Name}}..!  </h2>  <h4> Set your password..!
  </h4>
<h5>
 School Id: {{u[0].School_Id}} <br>
  Teacher Id: {{u[0].Teacher_Id}} <br>
  Mail Id: {{u[0].Email_id}}<br><br>
</h5>
<div class="form_row"><i class="material-icons">lock_outline</i>

<input type="password" name="New_Password" placeholder="Password" ngModel><br><br>
</div>
  <div class="form_row"><i class="material-icons">lock_outline</i>
<input type="password" name="Confirm_Password"  placeholder="Change Password"  ngModel><br><br>
</div>
<button class="btn" type="submit"name="submit"  >Submit</button>

</div>
</form>
</div>
