<div class="Container">
  <h1>   Accounts </h1>
<div class="row">
  <div class="col-25  col-md-offset-3">


<div *ngFor ="let st of acc" >
  <div classs="row">
    <div class="col-25  col-md-offset-1">

  <label>totalfee:</label>{{st.totalfee}}<br>
  <label>balance:</label>{{st.balance}}<br>


  <label>term:</label>{{st.term}}<br>
  <label>date:</label>{{st.date}}<br>
</div>
</div>

</div>
<table class="container2" color='blue'>
  <thead>


    <th>term</th>
    <th>date</th>
    <th>feepaid</th>



 </thead>

<tbody>
<tr *ngFor ="let b of acc" >



  <td>{{b.term}}</td>
  <td>{{b.date}}</td>
  <td>{{b.feepaid}}</td>

</tr>

</tbody>
</table>
</div>
</div>
