
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:white;

}

h1 {
  font-size:3em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container1 th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: center;
  color: #f5f5f5;
}

.container1 td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container1 {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 20 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container1 td, .container1 th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
}

/* Background-color of the odd s */
.container1 tr:nth-child(odd) {
	  background-color: #fff;
}

/* Background-color of the even rows */
.container1 tr:nth-child(even) {
	  background-color: #fff;
}

.container1 th {
	  background-color: #1F2739;
    color: #FFFFFF;

}

.container1 td:first-child { color: #FB667A; }
.container1 td:border-color { color: #000000; }

.container1 tr:hover {
   background-color: #ddd;
-webkit-box-shadow: 0 6px 6px -6px #26b3b3;
	   -moz-box-shadow: 0 6px 6px -6px #afeeee;
	        box-shadow: 0 6px 6px -6px #afeeee;
}



@media (max-width: 800px) {
.container1 td:nth-child(4),
.container1 th:nth-child(4) { display: none; }
}

    .button {

    background-color: #4CAF50;
    border: none;
    font-size: 25px;
    color: #FFFFFF;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
      border-radius: 15px;

}


.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.cus{
padding-left:200px;

margin-left:150px;
margin-top: 100px;


}
