<ol class="breadcrumb">

  <li class="breadcrumb-item active">Assignments List</li>
</ol>
<button [routerLink]="['/teacherdashboard/assignment']"> NewAssignments</button>
<br>
<br>
<label>Date:</label><input id="date" type="date" ngModel><br>


  <button (click)="GetAssignments('date')">Get Assignments</button>

<table class="container1">
  <thead>
    <th>date</th>

    <th>teacherid</th>
    <th>class</th>
    <th>section</th>
   <th>subject</th>
   <th>title</th>
   <th>description</th>
   <th>file</th>
   <th>filetype</th>
   <th>    files   </th>


 </thead>

<tbody>
<tr *ngFor ="let a of sub" >

  <td>{{a.date}}</td>

  <td>{{a.teacherid}}</td>
  <td>{{a.class}}</td>
  <td>{{a.section}}</td>
  <td>{{a.subject}}</td>
  <td>{{a.description}}</td>
  <td>{{a.title}}</td>
  <td>{{a.filetype}}</td>
  <td><button class="btn btn-success" (click)="downloadFile(a.id)">        <span class="glyphicon glyphicon-download-alt"></span></button>
 </td>

  </tr>
</tbody>
</table>
