<h1>  Assignment List   </h1>
<div class="container">

<br>
<div class="col-md-8">

<label>Date:</label><input id="date" type="date" ngModel>


  <button class="button" (click)="GetAssignments('date')"> <span class="glyphicon glyphicon-search
"></span></button>
&nbsp;&nbsp;
&nbsp;

<button id="one" class=" pull-right" [routerLink]="['/teacherdashboard/assignment']"><span class="glyphicon glyphicon-plus"></span> New Assignments  </button>
</div>
<br>
<br>

<table class="container1">
  <thead>
    <th>date</th>

    <th>teacherid</th>
    <th>class</th>
    <th>section</th>
   <th>subject</th>
   <th>title</th>
   <th>description</th>
   <th>   files  </th>


 </thead>

<tbody>
<tr *ngFor ="let a of sub" >

  <td>{{a.date}}</td>

  <td>{{a.teacherid}}</td>
  <td>{{a.class}}</td>
  <td>{{a.section}}</td>
  <td>{{a.subject}}</td>
  <td>{{a.title}}</td>
  <td>{{a.description}}</td>
  <td><button class="btn btn-success" (click)="downloadFile(a.id)">        <span class="glyphicon glyphicon-download-alt"></span></button>
 </td>

  </tr>
</tbody>
</table>
</div>
