


<div class="container ">

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/admindashboard/first']">School Configuration</a>
    </li>
    <li class="breadcrumb-item active">Edit Configuration</li>
  </ol>

  <h2>Configuration</h2>
<form #data="ngForm" (ngSubmit)="onSubmit(data.value)" >
  <div class="row">
    <div class="col-50">

      <div class=" col-md-offset-1 col-sm-offset-1">

  <label>TERMS</label>
<br>
  <select  name="TERMS" [(ngModel)]="sub" >
    <option *ngFor="let sections of terms" value={{sections}}>
        {{sections}}
    </option>
</select>
<br><br>

<label>  FEE:</label>
<br>
<input type="text" value="s" name="fee" [(ngModel)]="s" >
<br>
<table id="tableid" >
  <tr>
       <th>SECTION</th>



  </tr>
  <tr *ngFor="let teachers of section" let i = index >

   <td><input type="text" value="{{this.teachers}}" name="sections" id="sections"> </td>
</tr>
</table>
<button class="btn btn-success" type="button" (click)="addFieldValue()">Add</button>


            <button class="btn btn-warning"  type="button"  (click)="deleteFieldValue(i)">Delete</button>


  <!--<label>SECTION</label>
  <select  name="Section" [(ngModel)]="c" >
      <option *ngFor="let sections of section" >
          {{sections.sections}}
      </option>
  </select>


  <label>SUBJECT</label>
  <select  name="Subject" [(ngModel)]="d">
      <option *ngFor="let sections of subjects" value={{sections}}>
          {{sections}}
      </option>
  </select>

-->
<!--<div id='G'>
        <div id="D">
     SECTION:<input type="text" value="section"  name="sections" [(ngModel)]="c" ><BR></div>
     </div><input type='button' value='Add Section' id='addButton'>
     <input type='button' value='Remove Section' id='removeButton'><BR>




     <div id='SG'>
        <div id="SD">
     SUBJECT:<input type="text" value="subjects"  name="subjects" [(ngModel)]="d" ><br></div>
     </div><input type='button' value='Add Subject' id='addButton'>
     <input type='button' value='Remove Subject' id='removeButton'>-->
</div>
</div>
     <div class="col-50">


       <div class=" col-md-offset-1 col-sm-offset-1">
         <label>STUDENT LIMIT:</label><br>
       <input type="text" name="studentlimit" [(ngModel)]="l" >



     <table id="tableid" >
            <tr>
                 <th>SUBJECTS</th>



            </tr>

            <tr *ngFor="let teachers of subjects" let i = index >

             <td><input type="text" value="{{this.teachers}}" name="subjects" id="subjects"> </td>
           </tr>


                </table>
                   <button class="btn btn-success" type="button" (click)="addFieldValues()">Add</button>
                 <button class="btn btn-warning"  type="button" (click)="deleteFieldValues(i)">Delete</button>
</div>
</div>
</div>
<br>
<br>

<input class="button1" type="submit" value="update" >
<button class="button3" [routerLink]="['/admindashboard/first']" >cancel</button>

 </form>

</div>
