select {
    width: 350px;
}
select:focus {
    min-width: 350px;
    width: auto;
}
h2{
  font-size: 25px;
  text-align: center;
padding-right:  200px;
font-weight: bold;
font-style: oblique;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}
.container {
  background-color: white;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width:auto;
}



input[type=text] {
  width: 350px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.btn-red {
  background-color: red;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border: none;
  width: 20%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  position:relative;
  left:350px;
}
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border: none;
  width: 20%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  position:relative;
  left:250px;
}

.col-75 {
  -ms-flex: 55%; /* IE10 */
  flex: 55%;
}

.col-50,
.col-75 {
  padding: 0 16px;
}
