

<label>Date:</label><input id="date" type="date" ngModel><br>


  <button (click)="GetAssignments('date')">Get Assignments</button>
<table class="container1">
  <thead>

    <th>date</th>

    <th>teacherid</th>
    <th>class</th>
    <th>section</th>
   <th>subject</th>
   <th>title</th>
   <th>description</th>
   <th>filetype</th>
  <th>file</th>


 </thead>

<tbody>
<tr *ngFor ="let a of sub" >

  <td>{{a.date}}</td>
 
  <td>{{a.teacherid}}</td>
  <td>{{a.class}}</td>
  <td>{{a.section}}</td>
  <td>{{a.subject}}</td>
  <td>{{a.title}}</td>
  <td>{{a.description}}</td>
  <td>{{a.filetype}}</td>
  <td><button class="btn btn-primary" (click)="downloadFile(a.id)"><span class="glyphicon glyphicon-download-alt"></span></button>
 </td>

  </tr>
</tbody>
</table>
